
@{
    ViewBag.Title = "Senda inn beiðni fyrir þátt eða kvikmynd";
}
<div>
    <h1 class="center">Óskaru eftir þátt eða kvikmynd?</h1>
    <button class="center">
       @Html.ActionLink("Þáttur", "CreateEpisodeRequest")
    </button>
    <button class="center">
     @Html.ActionLink("Kvikmyndir", "CreateMovieRequest")
    </button>
</div>

