
@{
    ViewBag.Title = "Senda inn beiðni fyrir þátt eða kvikmynd";
}
<div class="jumbotron">
    <h1 class="center">Óskaru eftir þátt eða kvikmynd?</h1>
    <p class="center">
       @Html.ActionLink("Þáttur", "CreateEpisodeRequest")
    </p>
    <p class="center">
     @Html.ActionLink("Kvikmyndir", "CreateMovieRequest")
    </p>
</div>

