@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form action="" method="post" enctype="multipart/form-data">
    <h3>Bíómynd</h3>
    <label for="Titill">Titill:</label>
    <input type="text" name="Titill" id="Titill" />
    <label for="Ár">Ár:</label>
    <input type="tel" name="Ár" id="Ár" />
    <select>
        <option selected="selected">Tungumál</option>
        <option value="ICE">Icelandic</option>
        <option value="ENG">English</option>
    </select>
    <label for="file">Velja Skrá:</label>
    <input type="file" name="file" id="file" />

    <input type="submit" />
</form>

<form action="" method="post" enctype="multipart/form-data">

    <h3>Þættir</h3>
    <label for="Titill">Titil:l</label>
    <input type="text" name="Titill" id="Titill" />
    <label for="Sería">Sería:</label>
    <input type="tel" name="Sería" id="Sería" />
    <label for="Þáttur">Þáttur:</label>
    <input type="tel" name="Þáttur" id="Þáttur" />
    <select>
        <option selected="selected">Tungumál</option>
        <option value="ICE">Icelandic</option>
        <option value="ENG">English</option>
    </select>
    <label for="file">Velja Skrá:</label>
    <input type="file" name="file" id="file" />

    <input type="submit" />
</form>