@{
    ViewBag.Title = "Um okkur";
}   
<div class="row center">
    <div class="col-xs-12 FirstDivOnPage"></div>
</div>

<div class="row center">
    <div class="col-xs-12"><h2>Vinsælustu skjátextaskrár Textaleysu</h2></div>
</div>
<div class="row">
    <div class="col-xs-12 SecondDivOnPage"></div>
</div>
<div class="row">
    <div class="col-xs-12"></div>
</div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <h4>Verklegt námskeið í Háskólanum í Reykjavík</h4>
            <p>
                Síða þessi er smíðuð sem hluti af verklegu námskeiði af Arnari Kára Ágústssyni, Árna Frey Þorsteinssyni,
                Eysteini Gunnlaugssyni, Gunnari Orra Kjartanssyni og Sverri Páli Pálssyni á vorönn árið 2014.
            </p>
        </div>
        <div class="col-xs-3"></div>
    </div>
