@{
    ViewBag.Title = "Hafa samband";
}

<div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-3">
        <h4>Þú getur sent okkur tölvupóst á: </h4>   <a href="mailto:textaleysa@textaleysa.is">info@textaleysa.is</a><br />
    </div>
    <div class="col-xs-6">
        <h4>Eða skilið eftir skilaboð til sjórnenda</h4>
        <p>Nafn</p>
        <input type="text" class="ContactInputFields" /> <br />
        <p>Titill</p>
        <input type="text" class="ContactInputFields" /> <br />
        <p>Skilaboð</p>
        <input type="text" id="ContactContent" /> <br />
        <button type="submit" class="btn btn-default" id="ContactSendButton">Senda</button>
    </div>
</div>