@{
    ViewBag.Title = "Hafa samband";
}
<h2>@ViewBag.Title.</h2>


<!--
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
-->

<address>
    <strong>Netfang:</strong>   <a href="mailto:info@textaleysa.is">info@textaleysa.is</a><br />
</address>

<h3>Skilja eftir skilaboð til sjórnenda</h3>

<div>
	<p>Titill</p>
	<input type="text"/> <br />
	<p>Skilaboð</p>
	<input type="text" /> <br />
	<button type="submit" class="Skilabod">Senda</button>
</div>