﻿@{
    ViewBag.Title = "Notkunarleiðbeiningar";
}
<div class="row">
    <div class="col=xs=2"></div>
</div>

    <div class="col-xs-12" id=""></div>
        <h2>Algengar Spurningar</h2>
        <h4>
            Hér eru svör við nokkrum algengum vandamálum við noktun srt skráa.
        </h4>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Hvað er .srt skrá?</h3>
            </div>
    <div class="panel-body">
        .srt skrá er til þess að hafa texta við myndefni sem þú átt á tölvutæku formi.
    </div>
</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Afhverju spilast textinn ekki með myndinni minni?</h3>
            </div>
                <ul class="list-group">
                    <li class="list-group-item">Skráin er ekki vistuð á réttum stað. Skrána skal vista í sömu möppu og myndefnið sjálft.</li>
                    <li class="list-group-item">Skráin heitir ekki nákvæmlega sama nafni og myndefnið, fyrir utan endingu að sjálfsögðu.</li>
                    <li class="list-group-item">Spilarinn þinn styður ekki .srt skrár. Við mælum með VLC media player.
                    Sækja <a href="http://www.videolan.org/vlc/download-windows.html">VLC</a> fyrir Window
                    </li>
                    <li class="list-group-item">Passaðu að skráar endingin á skránni sé .srt en ekki t.d .txt</li>
                </ul>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Ég finn ekki .srt skrána sem ég sótti</h3>
            </div>
            <div class="panel-body">
                Skrár vistast í flestum tilvikum í downloads möppunni í tölvunni þinni. Skoðaðu þá möppu og 
                færðu síðan skrána yfir í rétta möppu
            </div>
        </div>

    </div>
</div>
 
