
@Html.Partial("_SearchPartial") <!--Partial view fyrir leitina-->
@{
    ViewBag.Title = "Notkunarleiðbeiningar";
}



<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<span>
	<h4>Hjálp 1</h4>
	<h4>Hjálp 2</h4>
</span>
