@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <form action="~/Home/Index" method="post">
    <div class="row">
        <div class="col-xs-12" id="FirstDivFrontPage"></div>
    </div>
    <div class="row">
        <h1 id="FrontPageH1">Textaleysa</h1>
        <div class="col-xs-12" id="SearchBarDiv">
            <span>
                <input type="text" id="SearchBar" name="searchString" maxlength="60">
            </span>
            <button class="btn btn-default" type="submit">Leita</button>
        </div>
    </div>
    </form>
    <div class="row">
        <div class="col-xs-12" id="SearchForFilter">

            <span>Leita eftir:</span>
            <div class="btn-group" id="SearcFilterSpaceDiv">
                <select class="form-control">
                    <option value="Icelandic">Íslenska</option>
                    <option value="English">Enska</option>
                    <option value="Danish">Danska</option>  
                </select>
            </div>
            <span id="SearcFilterSpaceDiv2">
                <label for="Serie">Þáttur</label>
                <input type="checkbox" name="Serie" value="Þáttur" />
            </span>
            <span id="SearcFilterSpaceDiv3">
                <label for="Movie">Kvikmynd</label>
                <input type="checkbox" name="Movie" value="Kvikmynd" />
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" id=""></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Vantar þig aðstoð?</h2>
            <p>
                Vantar þig aðstoð við notkun skjátextaskráa?
                Á hjálparsíðu okkar er að finna leiðbeiningar við notkun skjátextaskráa.
            <p><a class="btn btn-default" href="/home/help">Fá aðstoð &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Vinsælast</h2>
            <p>Vinsælustu skjátextaskrár Textaleysu frá upphafi.</p>
            <ol>
                <li><a href="http://www.linkToFile.is">Die Hard 1</a></li>
            </ol>
        </div>
        <div class="col-md-4">
            <h2>Nýjast</h2>
            <p> Nýjustu skjátextaskrár Textaleysu.</p>
            <ol>
                <li><a href="http://www.linkToFile.is">Kitty kitty bang bang</a></li>
            </ol>
        </div>
    </div>
</div>

