@model Textaleysa.Models.ViewModel.FrontPageViewModel

<div class="row center">
    <div class="col-xs-12">
        <img src="http://s29.postimg.org/am6ukuqhj/textaleysa_Logo.png" alt="TextaleysaLogo" id="TextaleysaLogo">
    </div>
</div>
<div class="row">
    <div class="col-xs-12"></div>
</div>
﻿<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h2>Vantar þig aðstoð?</h2>
            <p>
                Vantar þig aðstoð við notkun skjátextaskráa?
                Á hjálparsíðu okkar er að finna leiðbeiningar við notkun skjátextaskráa.
            <p><a class="btn btn-default" href="/home/help">Fá aðstoð &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Vinsælast</h2>
            <p>Vinsælustu skjátextaskrár Textaleysu frá upphafi.</p>
            <ol>
                @foreach(var item in Model.mostPopularFiles)
                { 
                   <li> 
                       @Html.ActionLink(item.title, "DisplayFile", "SubtitleFile", new { id = item.ID }, null)
                   </li>
                }
            </ol>
        </div>
        <div class="col-lg-4">
            <h2>Nýjast</h2>
            <p> Nýjustu skjátextaskrár Textaleysu.</p>
            <ol>
                @foreach(var item in Model.latestFiles)
                { 
                    if(item.isMovie)
                    {
                        <li>
                            @Html.ActionLink(item.title, "DisplayMovie", "SubtitleFile", new { id = item.ID }, null)
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink(item.title, "DisplaySerie", "SubtitleFile", new { id = item.ID }, null)
                        </li>
                    }
                }
            </ol>
        </div>
    </div>
</div>


