
<form action="~/Home/Index" method="post">
    <div class="row" id="SearchPartialRow">
        <div class="col-xs-12" id="SearchPartialBarDiv">
            <span>
                <input type="text" id="SearchBar" name="searchString" maxlength="60">
            </span>
            <button class="btn btn-default" type="submit">Leita</button>
        </div>
    </div>
</form>

