

<span>
	<input type="text" />
	<button type="submit">Leita</button>
	<a href="http://localhost:63595/Home/Upload">Hlaða upp skrá</a>
</span><br />

<span>
	<label>Leita eftir: </label>
	<select>
		<option value="">Tungumál</option>
		<option value="ISL">Íslenska</option>
		<option value="ENG">Enska</option>
		<option value="DAN">Danska</option>
		<option value="FRA">Franska</option>
		<option value="NOR">Norska</option>
		<option value="ESP">Spænska</option>
		<option value="SWE">Sænska</option>
		<option value="GER">Þýska</option>
	</select>
	<input type="radio" id="episode" name="videotype" value="episode">
	<label for="episode">Þættir</label>
	<input type="radio" id="movie" name="videotype" value="movie">
	<label for="movie">Bíómyndir</label>

</span>