@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Nei heyrðu... Villa!";
}

<h2 class="text-danger">Halló! Getur einhver hringt í Bubba Byggir hérna það þarf að laga þetta !!!</h2>
<h2>Því miður er Bubbi ekki tiltækur í augnablikinu, en eitthvað fór hrikalega úrskeiðis.</h2>

