@model IEnumerable<Textaleysa.Models.Comment>
@{
    ViewBag.Title = "Index";
}

<h2>CommentAndLike</h2>

<ul id="comment-list" class="list-group" style="max-width: 560px;">
    <!--here comes the list of comments and likes-->
</ul>

<!--Input field for new comment and a post button-->
<ul class="list-group" style="max-width: 560px;">
    <li class="list-group-item">
        <div class="form-horizontal">
            <label class="sr-only" for="commentContent">Comment</label>
            <textarea class="form-control" rows="3" id="content" name="content" placeholder="Enter a comment"></textarea>
            <button type="button" id="postbutton" class="btn btn-primary">Send</button>
        </div>
    </li>
</ul>

<!-- The comment item template -->
<script type="text/html" id="template">
    <li class="list-group-item comment-item">
        <p>
            <span class="glyphicon glyphicon-user"></span>
            <span data-content="userName" class="text-primary username"></span>
            <span data-content="content"></span>
        </p>
        <p>
            <span data-content="commentDate" class="text-muted"></span>
            <a class="like-comment" href="#!"> Like <span class="glyphicon glyphicon-thumbs-up"></span></a>
            @if (User.IsInRole("Administrators"))
            {
                <button type="button" id="DeleteButton" class="btn btn-group-sm btn-danger">Delete</button>
            }
        </p>
        <ul class="list-unstyled like-list">
            <!--here comes the list of likes-->
        </ul>
    </li>
</script>

