
#TextaleysaLogo{
    width: 27em;
    height: 7em;
}
#TextaleysaLogoNavbar{
    width: 6em;
    height: 3em;
}
.FullScreenContainer{
height: 100%;
bottom:0;
top:0;
}
#SearchPartialRow{
    height: 6.5em;
    text-align: center;
    margin-top: 1em;
}
#SearchPartial{
    text-align: center;
}

#FilteringFrontPage{
    text-align: center;
    height: 20em;
    margin-bottom: 15em;
}
#SearchBarDiv{
    height: 5em;
    color:black;
    text-align: center;
}
#SearchPartialBarDiv{   
    height: 5em;
    color:black;
    text-align: center;
    padding-top:1.5em;
}
#SearchForFilter{
    height: 3em;
    text-align: center;
}
#PartialSearchCheckboxes{
    font-weight: normal;
}
#PartialSearchCheckboxes2{
    font-weight: normal;
}
#PartialSearchCheckboxes3{
    font-weight: normal;
}
#PartialSearchCheckboxes4{
    font-weight: normal;
}
#LanguageButton{
    background-color: #ffffff;
}
.FontWhite{
    color: white;
}
#SearcFilterSpaceDiv{
margin-right: 2.8em;
margin-left: 0.8em;
}
#SearcFilterSpaceDiv2{
margin-right: 0.8em;
}
#FrontPageH1{
    font-size:4em;
    text-align: center;
    vertical-align: top;
}
.FirstDivOnPage{
    height: 10em;
}
.SecondDivOnPage{
    height: 2em;
}
#FirstDivOnFrontPage{
    height: 11em;
}
#SearchBar{
    max-width: 35em;
    display: inline;
    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    align-content:stretch;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#SearchButton{
    margin: auto;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
}
.ContactInputFields{
    width: 100%
}
#ContactContent{
    width: 100%;
    height: 16em;
}
#ContactSendButton{
    margin-top: 6px;
}

.center{
    text-align: center;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#content {
position:fixed;
top:50%;
bottom:50%
}
/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}
.field-validation-valid {
    display: none;
}
input.input-validation-error {
    border: 1px solid #b94a48;
}
input[type="checkbox"].input-validation-error {
    border: 0 none;
}
.validation-summary-errors {
    color: #b94a48;
}
.validation-summary-valid {
    display: none;
}